In [2]:
import matplotlib.pyplot as plt

import numpy as np
import pandas as pd
pd.set_option('display.max_columns', None)

from pycaret.classification import *
import ast
import plotly.graph_objects as go
import plotly.express as px
import seaborn as sns

In [3]:
train = pd.read_csv('train_data')
test = pd.read_csv('test_data')

In [4]:
s = setup(data=train,
          target= 'Disease',
          experiment_name='DiseasePrediction'
          )

# Compare Model

In [5]:
best_model = compare_models()

In [8]:
metrics = get_metrics()

In [12]:
metrics

,Name,Display Name,Score Function,Scorer,Target,Args,Greater is Better,Multiclass,Custom
ID,,,,,,,,,
acc,Accuracy,Accuracy,<function accuracy_score at 0x00000257F4FD0940>,accuracy,pred,{},True,True,False
auc,AUC,AUC,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(roc_auc_score, response_method='pr...",pred_proba,"{'average': 'weighted', 'multi_class': 'ovr'}",True,True,False
recall,Recall,Recall,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(recall_score, response_method='pre...",pred,{'average': 'weighted'},True,True,False
precision,Precision,Prec.,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(precision_score, response_method='...",pred,{'average': 'weighted'},True,True,False
f1,F1,F1,<pycaret.internal.metrics.BinaryMulticlassScor...,"make_scorer(f1_score, response_method='predict...",pred,{'average': 'weighted'},True,True,False
kappa,Kappa,Kappa,<function cohen_kappa_score at 0x00000257F4FD0...,"make_scorer(cohen_kappa_score, response_method...",pred,{},True,True,False
mcc,MCC,MCC,<function matthews_corrcoef at 0x00000257F4FD0...,"make_scorer(matthews_corrcoef, response_method...",pred,{},True,True,False

# Evaluate Model

In [14]:
evaluate_model(best_model)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelinâ€¦

In [16]:
finalized_model = finalize_model(best_model)

# Finalize and Predict Model

In [20]:
predict_model(finalized_model,data=test)

In [18]:
type(best_model)

sklearn.tree._classes.DecisionTreeClassifier

# Random Forest

In [21]:
rf=create_model('rf')

In [22]:
predict_model(rf,data=test)

,Unnamed: 0,Glucose,Cholesterol,Hemoglobin,Platelets,White Blood Cells,Red Blood Cells,Hematocrit,Mean Corpuscular Volume,Mean Corpuscular Hemoglobin,...,HDL Cholesterol,ALT,AST,Heart Rate,Creatinine,Troponin,C-reactive Protein,Disease,prediction_label,prediction_score
0,0,0.001827,0.033693,0.114755,0.997927,0.562604,0.866499,0.578042,0.914616,0.026864,...,0.430398,0.016678,0.885352,0.652733,0.788235,0.054788,0.031313,3,1,0.33
1,1,0.436679,0.972653,0.084998,0.180909,0.675736,0.563889,0.798382,0.670361,0.376092,...,0.458533,0.401845,0.635969,0.574425,0.047025,0.607985,0.594123,1,1,0.45
2,3,0.172994,0.050351,0.736000,0.782022,0.069435,0.085219,0.032907,0.460619,0.785448,...,0.420154,0.798537,0.399236,0.324600,0.499504,0.436662,0.242766,1,0,0.63
3,6,0.677636,0.435037,0.572571,0.965847,0.010580,0.753719,0.262138,0.789804,0.541149,...,0.355437,0.468168,0.493548,0.213971,0.059427,0.836447,0.231356,1,1,0.51
4,7,0.105103,0.177558,0.169041,0.679138,0.886839,0.714977,0.197501,0.778653,0.319864,...,0.867800,0.213141,0.094877,0.120487,0.211855,0.376829,0.645990,1,2,0.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,480,0.596137,0.071545,0.654680,0.980213,0.503338,0.987548,0.775286,0.201622,0.263525,...,0.976611,0.552450,0.382807,0.754216,0.234421,0.355834,0.132999,1,2,0.39
443,481,0.985163,0.412960,0.529993,0.263765,0.431287,0.198882,0.581289,0.701192,0.249410,...,0.465272,0.066511,0.965544,0.015051,0.442730,0.196986,0.816038,1,1,0.42
444,483,0.066669,0.404558,0.591041,0.228401,0.127461,0.026670,0.847444,0.279740,0.575425,...,0.677782,0.890501,0.638825,0.559993,0.795478,0.669925,0.124874,0,0,0.64
445,484,0.901444,0.430680,0.243853,0.825551,0.493884,0.726299,0.660930,0.445560,0.349782,...,0.112250,0.548469,0.211496,0.938355,0.463381,0.862921,0.658526,1,1,0.61
446,485,0.877912,0.597809,0.730440,0.462307,0.498438,0.792822,0.976056,0.883937,0.202147,...,0.568568,0.784730,0.500928,0.016738,0.104687,0.055181,0.049341,1,1,0.35

# LightBGM

In [23]:
lightgbm = create_model('lightgbm')

In [24]:
predict_model(lightgbm,data=test)

,Unnamed: 0,Glucose,Cholesterol,Hemoglobin,Platelets,White Blood Cells,Red Blood Cells,Hematocrit,Mean Corpuscular Volume,Mean Corpuscular Hemoglobin,...,HDL Cholesterol,ALT,AST,Heart Rate,Creatinine,Troponin,C-reactive Protein,Disease,prediction_label,prediction_score
0,0,0.001827,0.033693,0.114755,0.997927,0.562604,0.866499,0.578042,0.914616,0.026864,...,0.430398,0.016678,0.885352,0.652733,0.788235,0.054788,0.031313,3,1,0.9746
1,1,0.436679,0.972653,0.084998,0.180909,0.675736,0.563889,0.798382,0.670361,0.376092,...,0.458533,0.401845,0.635969,0.574425,0.047025,0.607985,0.594123,1,3,0.9984
2,3,0.172994,0.050351,0.736000,0.782022,0.069435,0.085219,0.032907,0.460619,0.785448,...,0.420154,0.798537,0.399236,0.324600,0.499504,0.436662,0.242766,1,1,0.9870
3,6,0.677636,0.435037,0.572571,0.965847,0.010580,0.753719,0.262138,0.789804,0.541149,...,0.355437,0.468168,0.493548,0.213971,0.059427,0.836447,0.231356,1,1,0.9995
4,7,0.105103,0.177558,0.169041,0.679138,0.886839,0.714977,0.197501,0.778653,0.319864,...,0.867800,0.213141,0.094877,0.120487,0.211855,0.376829,0.645990,1,1,0.5137
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,480,0.596137,0.071545,0.654680,0.980213,0.503338,0.987548,0.775286,0.201622,0.263525,...,0.976611,0.552450,0.382807,0.754216,0.234421,0.355834,0.132999,1,2,0.9999
443,481,0.985163,0.412960,0.529993,0.263765,0.431287,0.198882,0.581289,0.701192,0.249410,...,0.465272,0.066511,0.965544,0.015051,0.442730,0.196986,0.816038,1,0,0.5667
444,483,0.066669,0.404558,0.591041,0.228401,0.127461,0.026670,0.847444,0.279740,0.575425,...,0.677782,0.890501,0.638825,0.559993,0.795478,0.669925,0.124874,0,0,1.0000
445,484,0.901444,0.430680,0.243853,0.825551,0.493884,0.726299,0.660930,0.445560,0.349782,...,0.112250,0.548469,0.211496,0.938355,0.463381,0.862921,0.658526,1,1,0.9953
446,485,0.877912,0.597809,0.730440,0.462307,0.498438,0.792822,0.976056,0.883937,0.202147,...,0.568568,0.784730,0.500928,0.016738,0.104687,0.055181,0.049341,1,3,0.5054

# xgboost

In [25]:
xgboost = create_model('xgboost')

In [26]:
predict_model(xgboost,data=test)

,Unnamed: 0,Glucose,Cholesterol,Hemoglobin,Platelets,White Blood Cells,Red Blood Cells,Hematocrit,Mean Corpuscular Volume,Mean Corpuscular Hemoglobin,...,HDL Cholesterol,ALT,AST,Heart Rate,Creatinine,Troponin,C-reactive Protein,Disease,prediction_label,prediction_score
0,0,0.001827,0.033693,0.114755,0.997927,0.562604,0.866499,0.578042,0.914616,0.026864,...,0.430398,0.016678,0.885352,0.652733,0.788235,0.054788,0.031313,3,1,0.9036
1,1,0.436679,0.972653,0.084998,0.180909,0.675736,0.563889,0.798382,0.670361,0.376092,...,0.458533,0.401845,0.635969,0.574425,0.047025,0.607985,0.594123,1,3,0.5027
2,3,0.172994,0.050351,0.736000,0.782022,0.069435,0.085219,0.032907,0.460619,0.785448,...,0.420154,0.798537,0.399236,0.324600,0.499504,0.436662,0.242766,1,1,0.8758
3,6,0.677636,0.435037,0.572571,0.965847,0.010580,0.753719,0.262138,0.789804,0.541149,...,0.355437,0.468168,0.493548,0.213971,0.059427,0.836447,0.231356,1,1,0.5033
4,7,0.105103,0.177558,0.169041,0.679138,0.886839,0.714977,0.197501,0.778653,0.319864,...,0.867800,0.213141,0.094877,0.120487,0.211855,0.376829,0.645990,1,0,0.9348
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
442,480,0.596137,0.071545,0.654680,0.980213,0.503338,0.987548,0.775286,0.201622,0.263525,...,0.976611,0.552450,0.382807,0.754216,0.234421,0.355834,0.132999,1,2,0.9747
443,481,0.985163,0.412960,0.529993,0.263765,0.431287,0.198882,0.581289,0.701192,0.249410,...,0.465272,0.066511,0.965544,0.015051,0.442730,0.196986,0.816038,1,0,0.8565
444,483,0.066669,0.404558,0.591041,0.228401,0.127461,0.026670,0.847444,0.279740,0.575425,...,0.677782,0.890501,0.638825,0.559993,0.795478,0.669925,0.124874,0,0,0.9864
445,484,0.901444,0.430680,0.243853,0.825551,0.493884,0.726299,0.660930,0.445560,0.349782,...,0.112250,0.548469,0.211496,0.938355,0.463381,0.862921,0.658526,1,2,0.5457
446,485,0.877912,0.597809,0.730440,0.462307,0.498438,0.792822,0.976056,0.883937,0.202147,...,0.568568,0.784730,0.500928,0.016738,0.104687,0.055181,0.049341,1,2,0.3577